body {
    background: url("https://cdn.wallpapersafari.com/46/86/YAvcID.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-size:  cover;
}

.container {
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin:auto;
    
}
h1{
    grid-column-start: 2;
    grid-column-end: 3; 
    text-align: center; 
}
h2 {
    grid-column-start: 2;
    grid-column-end: 3; 
    text-align: center;   
}
#gif-form {
    grid-column-start: 2;
    grid-column-end: 3;  
    text-align: center;
}

.gImage{
    border: 5px solid black;
    margin: auto;
    margin: 5px;
    height: 200px;
    width: 202px; 
    text-align: center
    }
.gImage:hover{
cursor: pointer;
}
.gifDisplay {
    margin:auto;
    
    padding-top:8px;
    background: #ebebeb9c;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   
}
.buttons-original {
    grid-column-start: 1;
    grid-column-end: 4; 
    text-align: center; 
}

.button.team {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    background: black;
    color: white;
}

.button.team:hover{
    cursor: pointer;
}
.ratingDisplay{
    background: black;
    color: white;
    width: 25%;
    margin: auto;
}
.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    background: black;
    color: white; 
}

.add-gif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    background: black;
    color: white; 
}

.add-gif:hover {
    cursor: pointer;
}